<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FMSS_data_add</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



</head>

<body>
    <input id="t_step" type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1"></input>
    <button id="b_step_add" type="button" class="btn btn-primary">提交</button>
    <script>
        $("#b_step_add").click(function () {
            console.log('val', $("#t_step").val());
            // console.log('text',$("#t_step").text());
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/step_add",
                data: { "data": $("#t_step").val() },
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                }
            });
        });
    </script>
</body>