<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-row {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }

    .item {
        margin-right: 40px;
    }
</style>

<body>
    <div id="app">
        <el-row :gutter="5">
            <el-col :span="11">
                <el-select v-model="first_select" style="width: 150px" placeholder="请选择">
                    <el-option v-for="item in select_option" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-input v-model="first_input" style="width: 300px" placeholder="请输入内容"></el-input>
                <el-button @click="updatedata">提交数据</el-button>
                <el-row :gutter="5">
                    <div id="b_task" style="height:200px"></div>
                </el-row>
                <el-row :gutter="5">
                    <div id="b_step" style="height:190px"></div>
                </el-row>
                <el-row :gutter="5">
                    <div id="b_weight" style="height:190px"></div>
                </el-row>
            </el-col>
            <el-col :span="13">
                <el-row :gutter="5">
                    <el-select v-model="task_select" style="width: 80px" placeholder="请选择">
                        <el-option v-for="item in task_select_option" :key="item.value" :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                    <el-date-picker v-model="new_edate" value-format="yyyy-MM-dd" type="date" style="width:150px"
                        placeholder="ddl">
                    </el-date-picker>
                    <el-input v-model="task_title" style="width: 300px" placeholder="请输入内容"></el-input>
                    <el-button @click="addtask">提交</el-button>
                    <el-button @click="settable">刷新</el-button>
                    <el-button @click="querytask">查询</el-button>

                </el-row>
                <el-row :gutter="5">
                    <el-badge v-model="badge_todo" class="item" type="primary">
                        <el-button size="small">待做</el-button>
                    </el-badge>
                    <el-badge v-model="badge_today" class="item" type="primary">
                        <el-button size="small">今日</el-button>
                    </el-badge>
                    <el-badge v-model="badge_delay" class="item">
                        <el-button size="small">逾期</el-button>
                    </el-badge>
                </el-row>

                <div class="grid-content bg-purple">
                    <el-table :data="tableData" border height="550" :cell-style="isoverdate" style="width: 100%"
                        :default-sort="{prop: 'etime', order: 'ascending'}">
                        <el-table-column fixed prop="etime" sortable label="DDL" width="95">
                        </el-table-column>
                        <el-table-column prop="subject" label="分类" width="60">
                        </el-table-column>
                        <el-table-column prop="title" label="标题">
                        </el-table-column>
                        <el-table-column label="操作" width="130">
                            <template slot-scope="scope">
                                <el-button @click="finishtask(scope.row)" type="text" size="small">完成</el-button>
                                <el-button @click="modifytask(scope.row)" type="text" size="small">修改</el-button>
                                <el-button @click="deletetask(scope.row)" type="text" size="small">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-col>
        </el-row>
        <el-dialog title="提示" :visible.sync="dialogsVisible" width="30%">
            请输入次数：<el-input v-model="input_numbers" style="width: 300px" placeholder="请输入次数"></el-input>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogsVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogcommit">确 定</el-button>
            </span>
        </el-dialog>

        <el-dialog title="提示" :visible.sync="dialogcVisible" width="30%">
            确认删除任务？？
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogcVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogdelete">确 定</el-button>
            </span>
        </el-dialog>

    </div>



</body>
<!-- import Vue before Element -->
<script src="../static_js/vue.js"></script>
<!-- import JavaScript -->
<script src="../static_js/index.js"></script>
<!-- import axios-->
<script src="../static_js/axios.min.js"></script>
<!-- import echarts-->
<script src="../static_js/echarts.js"></script>
<script>
    // import qs from 'qs';
    new Vue({
        el: '#app',
        data: function () {
            return {
                task_option: {
                    tooltip: {},
                    grid: {
                        top: 30
                    },
                    visualMap: {
                        show: false,
                        min: 0,
                        max: 10,
                        inRange: {
                            color: ['#ebedf0', '#c6e48b', '#7bc96f', '#239a3b', '#196127']
                        }
                    },
                    calendar: {
                        range: ['2019-07', '2020-01']
                    },
                    series: {
                        type: 'heatmap',
                        coordinateSystem: 'calendar',
                        data: []
                    }
                },
                step_option: {
                    dataZoom: [
                        {
                            show: true,
                            realtime: true,
                            start: 50,
                            end: 100
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 50,
                            end: 100
                        }
                    ],
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            axisLine: { onZero: false }
                        }
                    ],
                    yAxis: [
                        {
                            name: '步数',
                            type: 'value'
                        }
                    ],
                    grid: {
                        top: 30
                    },
                    series: [
                        {
                            name: '步数',
                            type: 'line',
                            animation: false,
                            areaStyle: {
                            },
                            lineStyle: {
                                width: 1
                            },
                            markLine: {
                                data: [
                                    {
                                        name: '平均线',
                                        // 支持 'average', 'min', 'max'
                                        type: 'average'
                                    }]
                            }
                        }
                    ]
                },
                weight_option: {
                    dataZoom: [
                        {
                            show: true,
                            realtime: true,
                            start: 50,
                            end: 100
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 50,
                            end: 100
                        }
                    ],
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            axisLine: { onZero: false }
                        }
                    ],
                    yAxis: [
                        {
                            name: '体重',
                            type: 'value',
                            min: 90
                        }
                    ],
                    grid: {
                        top: 30
                    },
                    series: [
                        {
                            name: '体重',
                            type: 'line',
                            animation: false,
                            areaStyle: {
                            },
                            lineStyle: {
                                width: 1
                            },
                            markLine: {
                                data: [
                                    {
                                        name: '平均线',
                                        // 支持 'average', 'min', 'max'
                                        type: 'average'
                                    }]
                            }
                        }
                    ]
                },
                // left input
                select_option: [{
                    value: 'step',
                    label: '步数'
                }, {
                    value: 'weight',
                    label: '体重'
                }],

                first_select: '',
                first_input: '',
                // right input

                task_select: '工作',
                new_edate: '',
                task_title: '',
                task_select_option: [{
                    value: '工作',
                    label: '工作'
                }, {
                    value: '自己',
                    label: '自己'
                }, {
                    value: '读书',
                    label: '读书'
                }, {
                    value: '游戏',
                    label: '游戏'
                }],
                // table
                tableData: [],

                // dialog
                dialogsVisible: false,
                s_task_id: '',
                input_numbers: 1,

                // dialog delete
                dialogcVisible: false,
                // badge
                badge_todo: 0,
                badge_today: 0,
                badge_delay: 0,
                now_time: new Date().getTime()
            }
        },
        mounted: function () {
            // console.log('asdasdasda');
            // console.log(this.tableData);
            this.setbar();
            this.settable();
        },
        methods: {
            gettasksummary: function (event) {
                axios.get("http://127.0.0.1:5000/gettasksummary").then(response => {
                    if (response.status == 200) {
                        console.log(response);
                        this.badge_todo = response.data.res_todo;
                        this.badge_today = response.data.res_today;
                        this.badge_delay = response.data.res_delay;
                    }
                })

            },
            settable: function (event) {
                axios.get("http://127.0.0.1:5000/gettasknow").then(response => {
                    // console.log(response);
                    if (response.status == 200) {
                        temp = response.data.arrays;
                        this.tableData = [];
                        for (row in temp) {
                            console.log(row);
                            this.tableData.push(temp[row]);
                        }
                        this.gettasksummary();
                        console.log(this.tableData);
                    }
                })
            },
            setbar: function (event) {
                // console.log('setbar');
                let step_chart = echarts.init(document.getElementById('b_step'), 'white', { renderer: 'canvas' });
                axios.get("http://127.0.0.1:5000/getstep")
                    .then(response => {
                        console.log(response);
                        if (response.status == 200) {
                            this.step_option.xAxis[0].data = response.data.time;
                            this.step_option.series[0].data = response.data.value;
                            step_chart.setOption(this.step_option);
                        }
                    });
                let weight_chart = echarts.init(document.getElementById('b_weight'), 'white', { renderer: 'canvas' });
                axios.get("http://127.0.0.1:5000/getweight")
                    .then(response => {
                        console.log(response);
                        if (response.status == 200) {
                            this.weight_option.xAxis[0].data = response.data.time;
                            this.weight_option.series[0].data = response.data.value;
                            weight_chart.setOption(this.weight_option);
                        }
                    });
                let task_chart = echarts.init(document.getElementById('b_task'), 'white', { renderer: 'canvas' });
                axios.get("http://127.0.0.1:5000/gettimedata")
                    .then(response => {
                        // console.log(response.data.result);
                        if (response.status == 200) {
                            // console.log(response.data.result);
                            // console.log(this.task_option);
                            this.task_option.series.data = response.data.result;
                            task_chart.setOption(this.task_option);
                        }
                    });

            },
            updatedata: function (event) {
                axios.post('http://127.0.0.1:5000/data_add_v', {
                    type: this.first_select,
                    data: this.first_input
                }).then(response => {
                    // console.log(response);
                    this.setbar();
                })

            },
            addtask: function (event) {
                if (this.new_edate != '' && this.task_title) {
                    axios.post('http://127.0.0.1:5000/addtask', {
                        subject: this.task_select,
                        title: this.task_title,
                        edate: this.new_edate
                    }).then(response => {
                        // console.log(response);
                        this.settable();
                        this.task_title = '';
                    })
                }
            },
            finishtask: function (event) {
                // console.log(event.task_id);
                this.dialogsVisible = true;
                this.s_task_id = event.task_id;
            },
            querytask: function (event) {
                this.task_title;
                axios.post('http://127.0.0.1:5000/querytask', {
                    query: this.task_title
                }).then(response => {
                    temp = response.data.arrays;
                    this.tableData = [];
                    for (row in temp) {
                        console.log(row);
                        this.tableData.push(temp[row]);
                    }
                })
            },

            dialogcommit: function (event) {
                // console.log(this.s_task_id);
                this.dialogsVisible = false;
                axios.post('http://127.0.0.1:5000/finishtask', {
                    task_id: this.s_task_id,
                    input_numbers: this.input_numbers
                }).then(response => {
                    console.log(response);
                    this.settable();
                    this.setbar();
                })
            },
            deletetask: function (event) {
                // console.log(event.task_id);
                this.dialogcVisible = true;
                this.s_task_id = event.task_id;
            },
            dialogdelete: function (event) {
                // console.log(this.s_task_id);
                this.dialogcVisible = false;
                axios.post('http://127.0.0.1:5000/deletetask', {
                    task_id: this.s_task_id
                }).then(response => {
                    console.log(response);
                    this.settable();
                })
            },
            isoverdate: function ({ row, column, rowIndex, columnIndex }) {
                if (columnIndex == 0) {
                    temp = new Date('2019-' + row.etime + ' 23:59:59').getTime();
                    console.log();
                    if (temp < this.now_time) {
                        console.log(row.etime, this.now_time);
                        return 'background-color:red'
                    }
                }
            }
        }
    })
</script>

</html>