<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-row {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
</style>

<body>
    <div id="app">
        <!-- <el-button @click="setbar">数据更新</el-button> -->
        <el-select v-model="select_value" style="width: 150px" placeholder="请选择">
            <el-option v-for="item in select_option" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
        <el-input v-model="datainput" style="width: 300px" placeholder="请输入内容"></el-input>
        <el-button @click="updatedata">数据提交</el-button>
        <!-- <div id="bar" style="width:600; height:300px;"></div> -->
        <el-row :gutter="20">
            <el-col :span="12">
                <el-row :gutter="20">
                    <div id="b_task" style="height: 200px"></div>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div id="b_step" style="height: 200px"></div>
                    </el-col>
                    <el-col :span="12">
                        <div id="b_weight" style="height: 200px"></div>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="11">
                <div class="grid-content bg-purple"></div>
            </el-col>
        </el-row>
    </div>



</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import echarts-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.js"></script>
<script>
    // import qs from 'qs';
    new Vue({
        el: '#app',
        data: function () {
            return {
                step_option: {
                    dataZoom: [
                        {
                            show: true,
                            realtime: true,
                            start: 50,
                            end: 100
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 50,
                            end: 100
                        }
                    ],
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            axisLine: { onZero: false }
                        }
                    ],
                    yAxis: [
                        {
                            name: '步数',
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '步数',
                            type: 'line',
                            animation: false,
                            areaStyle: {
                            },
                            lineStyle: {
                                width: 1
                            },
                            markLine: {
                                data: [
                                    {
                                        name: '平均线',
                                        // 支持 'average', 'min', 'max'
                                        type: 'average'
                                    }]
                            }
                        }
                    ]
                },
                select_option: [{
                    value: 'step',
                    label: '步数'
                }, {
                    value: 'weight',
                    label: '体重'
                }],
                select_value: '',
                datainput: ''
            }
        },
        mounted: function () {
            console.log('asdasdasda');
            this.setbar();
        },
        methods: {
            setbar: function (event) {
                console.log('setbar')
                let step_chart = echarts.init(document.getElementById('b_step'), 'white', { renderer: 'canvas' });
                axios.get("http://127.0.0.1:5000/getstep")
                    .then(response => {
                        console.log(response);
                        if (response.status == 200) {
                            this.step_option.xAxis[0].data = response.data.time;
                            this.step_option.series[0].data = response.data.value;
                            step_chart.setOption(this.step_option);
                        }
                    });
            },
            updatedata: function (event) {
                console.log(this.select_value);
                console.log(this.datainput);
                axios.post('http://127.0.0.1:5000/data_add_v', {
                    type: this.select_value,
                    data: this.datainput
                }
                ).then(response=>{
                    console.log(response);
                    this.setbar();
                })

            }
        }
    })
</script>

</html>